* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16 px;
}

body {
    background-color: rgb(250, 249, 216);
    padding-bottom: 0;
    transform: translate(0, 60%);
}

main {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 1px 1px 5px 3px #00000079;
    border-radius: 10px;
}
fieldset{
    border-radius: 10px;
    margin-top: 0.6em;
    background-color: rgb(232, 231, 229);
}