* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16 px;
}

a {
    font-weight: 600;
}
body {
    background-color: rgb(250, 249, 216);
    padding-bottom: 0;
    transform: translate(0, 7%);
}

main {
    background-color: white;
    margin: 5% 15% 5% 15%;
    padding: 10px;
    box-shadow: 1px 1px 5px 3px #00000079;
    border-radius: 10px;
}
fieldset {
    border-radius: 10px;
    margin-top: 0.6em;
    background-color: rgb(232, 231, 229);
}
.bloco {
    padding: 0px 15px 0px 15px;
    text-align: justify;
    
}

img.lado {
    float: right;
    margin-left: 1em;
    transform: translateY(-5%);
}